// devices

$tablet: 768px;

// colors

$outrageous-orange: #FF693A;
$flamingo-pink: #FF537B;
$medium-carmine: #B86960;
$tomato: #FF6655;
$very-pale-tint: #FEF0F0;
$dark-blue-grey: #232742;
$dark-slate-grey: #2B2F3A;
$yale-blue: #37384E;
$charcoal-grey: #343C47;
$grey: #999CA3;
$white: #FFFFFF;
